<% provide :page_title, I18n.t("hyrax.dashboard.batch_uploads.title") %>

<div class="row" style="padding-bottom: 30px;">
  <div class="col-xs-8 main-header">
    <h1><%= t('hyrax.dashboard.batch_uploads.header') %></h1>
  </div>
</div>

<%= render partial: "batch_upload_options" %>

<%= simple_form_for @form,
                    html: {
                      data: { behavior: 'work-form',
                              'param-key' => @form.model_name.param_key },
                      multipart: true
                    } do |f| %>


<div class="panel panel-default" style="padding:30px 20px;margin-right:30px;">
  <%= f.input :admin_set_id, as: :select,
      include_blank: false,
      collection: admin_set_options,
      input_html: { class: 'form-control' } %>

  <% if @batch_upload_option != BatchUpload.files_only_ingest %>
  <div class="row">
    <div class="form-group">
      <%= f.label :source_file, t("hyrax.dashboard.batch_uploads.source_file_label"), class: "col-xs-2 control-label" %>
      <div class="col-xs-6"><%= f.file_field :source_file %></div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :files_location, t("hyrax.dashboard.batch_uploads.files_location_label"), class: "col-xs-2 control-label"%>
      <div class="col-xs-6">
        <% if Rails.application.config.staging_area_s3_enabled %>
          <% if @files_location.present? %><!-- S3/Minio staging -->
            <%= text_field_tag 'files_location_label', @files_location_label, size: '120', disabled: true %>
            <%= hidden_field_tag 'files_location', @files_location %>
          <% else %>
            <%= text_field_tag 'files_location', nil,
                      prompt: :translate,
                      data: {
                        placeholder: t('hyrax.dashboard.batch_uploads.placeholders.files_location'),
                        autocomplete: 'collection',
                        'autocomplete-url' => Rails.application.routes.url_helpers.staging_area_index_path
                      } %>
          <% end %><!-- end S3/Minio staging -->
        <% else %>
          <%= f.text_field :files_location, class: "form-control", required: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= hidden_field_tag :option, @batch_upload_option %>
  <%= f.submit value: t("hyrax.dashboard.batch_uploads.button_label"), class: "btn btn-primary" %>
<% end %>
