<%= presenter.attribute_to_html(:ark, label: t('hyrax.base.show.permanent_id'), html_dl: true) %>
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>

<% ::SchemaLoader.new.properties_for(:generic_object).values.each do |property| %>
  <%= presenter.attribute_to_html(property.name, render_as: :schema_property, html_dl: true, property_definition: property) %>
<% end %>

<%= presenter.attribute_to_html(:discovery_links, render_as: :discovery_links, html_dl: true) %>
