<div class="row show-actions button-row-top-two-column">
  <div class="col-sm-6">
    <% if !workflow_restriction?(presenter) %>
      <% if presenter.show_deposit_for?(collections: @user_collections) %>
        <input type="checkbox"  style="display:none" name="batch_document_ids[]" id="batch_document_<%= presenter.id %>" value="<%= presenter.id %>" class="batch_document_selector" checked="checked" />
        <%= button_tag t('hyrax.dashboard.my.action.add_to_collection'),
                      class: 'btn btn-default submits-batches submits-batches-add',
                      data: { toggle: "modal", target: "#collection-list-container" } %>
      <% end %>
      <% if presenter.work_featurable? %>
        <%= link_to t('.feature'), hyrax.featured_work_path(presenter, format: :json),
            data: { behavior: 'feature' },
            class: presenter.display_feature_link? ? 'btn btn-default' : 'btn btn-default collapse' %>

        <%= link_to t('.unfeature'), hyrax.featured_work_path(presenter, format: :json),
            data: { behavior: 'unfeature' },
            class: presenter.display_unfeature_link? ? 'btn btn-default' : 'btn btn-default collapse' %>
      <% end %>
    <% end %>
    <% if Hyrax.config.analytics? %>
      <% # turbolinks needs to be turned off or the page will use the cache and the %>
      <% # analytics graph will not show unless the page is refreshed. %>
      <%= link_to t('.analytics'), presenter.stats_path, id: 'stats', class: 'btn btn-default', data: { turbolinks: false } %>
    <% end %>
  </div>

  <div class="col-sm-6 text-right">
    <% if DiscoveryPlatformService.call(presenter.solr_document[:id]).count > 0 && show_publish_button?(presenter.solr_document) %>
      <%= link_to t('hyrax.base.show_actions.unpublish.button_label'),
                  "/concern/generic_objects/#{presenter.id}/unpublish",
                  title: t('hyrax.base.show_actions.unpublish.desc'),
                  class: 'btn btn-danger',
                  data: { confirm: t('hyrax.base.show_actions.unpublish.confirm'),
                          method: :put } %>
    <% end %>
    <% if presenter.editor? && !workflow_restriction?(presenter) %>
      <%= link_to t('.edit'), edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      <% if presenter.member_count > 1 %>
          <%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'btn btn-default' %>
      <% end %>
      <% if presenter.valid_child_concerns.length > 0 %>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.attach_child') %> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% presenter.valid_child_concerns.each do |concern| %>
                <li>
                  <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular.to_sym], parent_id: presenter.id) %>
                </li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <%= link_to t('.delete'), [main_app, presenter], class: 'btn btn-danger', data: { confirm: t('.confirm_delete', work_type: presenter.human_readable_type) }, method: :delete %>
    <% end %>
  </div>
</div>

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
<!-- Render Modals -->
  <%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
