<%= menu.nav_link(hyrax.new_batch_upload_path,
                  onclick: "dontChangeAccordion(event);") do %>
  <span class="fa fa-files-o" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t("hyrax.dashboard.sidebar.batch_uploads") %></span>
<% end %>
